# Entornos virtuales
.venv/
venv/

# Archivos de Python compilados
__pycache__/
*.py[cod]

# Archivos de configuración y entorno
.env
*.env

# Archivos temporales y de sistema
*.log
*.tmp
.DS_Store
Thumbs.db

# Archivos de PyInstaller
/dist/
/build/
*.spec

# Archivos de pruebas
.last_test_results.json

# Archivos de usuario de VSCode
.vscode/

# Archivos de datos temporales
last_*_csv.txt
